header{
    background-color: orangered;
    text-align: center;
    
}

footer{
    background-color: orangered;
    text-align: center;
}

img{
    position: absolute;
    margin: auto;
    right: 500px;
    height: 200px; 
    width: 165px;
}
body{
    text-align: center;
    margin: auto;
    max-width: 900px;
}
ul{
    list-style-type: none;
}